---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/hero-image.avif";
import faqs from "@data/fr/faqs.json";
import features from "@data/fr/features.json";
import pricing from "@data/fr/pricing.json";
import featureImage from "@images/features-image.avif";
import construction from "@images/construction-image.avif";
import tools from "@images/automated-tools.avif";
import dashboard from "@images/dashboard-image.avif";
import { getRelativeLocaleUrl } from "astro:i18n";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<MainLayout lang="fr">
  <!-- <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Découvrez ScrewFast sur GitHub"
    url="https://github.com/mearashadowfax/ScrewFast"
  /> -->

  <HeroSection
    title=`重新定义数据集和人工智能的方式 <span class="text-yellow-500 dark:text-yellow-400">Entropy System AI</span>`
    subTitle="Entropy System AI 构建Ton Web3 AI 生态."
    primaryBtn="AI产品"
    primaryBtnURL={getRelativeLocaleUrl("fr", "products")}
    secondaryBtn="联系我们"
    secondaryBtnURL={getRelativeLocaleUrl("fr", "contact")}
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`社群超过 <span class="font-bold">12,8k</span> 评论`
    src={heroImage}
    alt="Pile de boîtes de produits ScrewFast contenant des outils matériels assortis"
  />

  <ClientsSection
    title="合作伙伴"
    subTitle="我们与全球数百家AI企业建立合作关系."
  />

  <FeaturesGeneral
    title="核心功能"
    subTitle="团队成员来自TON 开发者社区，队成员是由区块链领域造诣深厚的工程师和研究人员组成，都有着丰富经验和卓越专业技能。正是在TON 技术社区的强力支持下，Entropy System AI蓬勃发展，逐渐形成极具活力的区块链社区，汇聚全球各地的开发者和提供数据的用户，推进者积极发挥影响力和推广能力在全球范围内宣传Entropy System AI项目，助力其在激烈市场竞争中获得广泛应用和高度认可."
    src={featureImage}
    alt="Entropy System AI 相关AI产品"
    features={features}
  />

  <FeaturesNavs
    title=`Personnalisez les offres de <span class="text-yellow-500 dark:text-yellow-400">ScrewFast</span> pour répondre parfaitement à vos besoins en matériel et en construction.`
    tabs={[
      {
        heading: "分布式数据生态系统",
        content:
          "Entropy  System AI 采用分布式数据采样结构，通过集成的 Web3 数据基础设施网络连接全球数据提供商社区。Entropy  System AI 的标准数据业务流程遵循精简且高度自动化的顺序，通过高斯近似和粒子群优化，Entropy  System AI 优化层上的预处理算法来验证数据质量，同时通过 Entropy  System AI 庞大而多样化的用户社区来最大限度地减少采样偏差。",
        svg: "tools",
        src: tools,
        alt: "Équipement lourd jaune et noir sur un champ d'herbe brune",
        first: true,
      },
      {
        heading: "开放数据平台",
        content:
          "Entropy  System AI 通过开放数据生态系统为资金有限的早期中小型人工智能开发商提供可定制的数据集引导。我们的开放数据平台通过可定制的代币激励将人工智能数据消费者与分布式数据提供者直接连接起来。",
        svg: "dashboard",
        src: dashboard,
        alt: "Capture d'écran ou représentation graphique du tableau de bord intuitif",
        second: true,
      },
      {
        heading: "数据自动标记工具集",
        content:
          "Entropy  System AI 专有的数据自动标记模型利用 RLHF 微调，通过去中心化的数据贡献者网络和知识社区最大限度地利用人类知识和专业知识，大大提高数据标记效率，同时显著降低成本。我们的系统能够对大多数常见的 AI 数据类别实现 80% 以上的验证率，并且能够实时处理静态和动态视觉数据。",
        svg: "house",
        src: construction,
        alt: "Structure métallique grise d'un bâtiment près d'une grue à tour pendant la journée",
      },
    ]}
  />

  <TestimonialsSection
    title="通证模型"
    subTitle="$YST 质押用于激励活跃用户对Entropy  System AI 自动标记 AI 模型的贡献，并阻止恶意行为者和搭便车激励。定制的代币奖励和定制的数据请求提供了有机的 Web3 激励，以满足中小型 AI 初创企业的定制数据需求。社交游戏激励措施将日常任务奖金与额外的联盟佣金相结合，以促进有机数据社区的增长。"
    testimonials={[
      {
        content:
          "$YST 既是实用代币，也是 Entropy  System AI 的治理代币，其最大流通量为 13 亿。$YST 在 Entropy  System AI的生态系统激励和平台安全中发挥着关键作用，是治理、自动标记模型开发、自定义数据请求等所必需的 !",
        author: "Samantha Ruiz",
        role: "Directrice des opérations | ConstructIt Inc.",
        avatarSrc:
          "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
      },
    ]}
    statistics={[
      {
        count: "40%+",
        description:
          "激励所有为Entropy  System  AI 算力平台提供数据的企业用户都将获得 $ YST的空投",
      },
      {
        count: "25%",
        description:
          "为机构投资者保留，以支持项目的长期发展。",
      },
      {
        count: "25%",
        description:
          "激励给质押$YST为网络安全做贡献的用户",
      },
      {
        count: "10%",
        description:
          "奖励核心开发团队和贡献者，以及活动运营，社区建设者，并对这些代币设定锁定期。",
      },
    ]}
  />

  <PricingSection pricing={pricing} />

  <FAQ title="Questions<br />fréquemment posées" faqs={faqs} />

  <HeroSectionAlt
    title="白皮书"
    subTitle="阅读相关白皮书，了解更多项目信息"
    url=""
  />
</MainLayout>
